.heading{
    width: 100%;
}

.heading h3{
    float: left;
    display: inline;
    margin-bottom: 20px;
    font-size: 20px;
}

.heading button{
    float: right;
    border: 1px solid black;
    font-size: 30px;
}

body{
    background-size: cover;
}

.footer{
    margin: 0px;
    line-height: 5px;
    background-color: grey;
    margin-top: 1300px;
    position: sticky;
    bottom: 0;
    width: 100%;
}